<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <script>
    function goto_about() {
      var about = $('#about')[0];
      about.scrollIntoView();
      return false;
    }
  </script>


  <div class="cover">
    <div class="site-name">
      <div class="site-name__inner">
        <div class="name">MAILBOX<sup>2</sup></div>
        <div class="desc">
          <div>Go trough your mailbox in seconds again</div>
          <div class="header-text-small">on iOS</div>
        </div>
        <div class="btn" onclick="parent.location='{{site.github.url}}/about'">About</div>
        <div class="btn" onclick="parent.location='{{site.github.url}}/contact'">Contact</div>
      </div>
    </div>
  </div>

  <div id="about" class="page-content post-content container" style="margin-top: 50px;">
    <div style="text-align: center">
      <h1>Because email is not about reading.</h1>
      <p>We believe that email is not about reading or replying.
        <br> Email is meant to be cleaned up to zero as fast as possible.</p>
    </div>
    <div style="margin: 40px 0 0 0; text-align: center">Meet Mailbox<sub>2</sub></div>
    <div style="margin: 20px 0 40px 0;" class="row">
      <div style="text-align: center; margin: auto;" class="col-md-4">
        <img src="{{ site.github.url }}/img/phone.png" height="300px">
      </div>
      <div class="col-md-8 center" style="text-align: center; margin: 20px 0">
        <div style="text-align: left; display: inline-block; vertical-align: middle;">
          <p><b>Archive or delete</b> <span class='text-smaller'>everything you can.</span></p>
          <p><b>Delegate</b> <span class='text-smaller'>what someone can do for you.</span></p>
          <p><b>Postpone</b> <span class='text-smaller'>everything that you cannot handle right now.</span></p>
          <p><b>Create Todo</b> <span class='text-smaller'>tasks if you need to do it.</span></p>
          <p><b>Read and reply</b> <span class='text-smaller'>to what's left and is important.</span></p>
        </div>
      </div>
    </div>
    <div style="margin-left: 5px; margin-right: 5px;">
      <p>Mailbox<sub>2</sub> is a new mobile email client focused exactly on these tasks.</p>
      <p>It will make inbox cleanup a breeze, allow to postpone emails, integrate with your todo list and make email delegation easier. For just 3.99$</p>
      <p>If you're interested please leave us your email, so we can keep you informed how it's progressing and let you know when it's ready.</p>
    </div>
    <div class="email-form" style="margin-left: 5px; margin-right: 5px;">
      <form action="https://docs.google.com/forms/d/1D3b-eK8GzMmofru08ncKm_TKU4OEoL1JQ0YgsisOFk8/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit="">
        <div>Email<span class="asterisk">*</span></div>
        <div>
          <input type="email" name="entry.186563952" id="entry_186563952" dsize="30" required placeholder="Enter your email address">

          <input type="hidden" name="draftResponse" value="[,,&quot;-6278033538162919265&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fvv" value="0">
          <input type="hidden" name="fbzx" value="-6278033538162919265">
          <input type="submit" name="submit" value="Submit" id="ss-submit" class="contact-submit">
      </form>
      </div>
      <div style="margin-top: 5px;">
        We won't send you any spam. We promise.
        <br> ​Thanks for your support.
      </div>
    </div>
</body>

</html>
